.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  flex-wrap: wrap;
}

.buttonsBox {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.flex {
  display: flex;
}
